# HTTP
HTTP_SERVER = 'https://opencartshop.preprod.nimbbl.tech/admin/'
HTTP_CATALOG = 'https://opencartshop.preprod.nimbbl.tech/'

# HTTPS
HTTPS_SERVER = 'https://opencartshop.preprod.nimbbl.tech/admin/'
HTTPS_CATALOG = 'https://opencartshop.preprod.nimbbl.tech/'

# DIR
DIR_APPLICATION = '/var/www/html/app/upload/admin/'
DIR_SYSTEM = '/var/www/html/app/upload/system/'
DIR_IMAGE = '/var/www/html/app/upload/image/'
DIR_STORAGE = f'{DIR_SYSTEM}storage/'
DIR_CATALOG = '/var/www/html/app/upload/catalog/'
DIR_LANGUAGE = f'{DIR_APPLICATION}language/'
DIR_TEMPLATE = f'{DIR_APPLICATION}view/template/'
DIR_CONFIG = f'{DIR_SYSTEM}config/'
DIR_CACHE = f'{DIR_STORAGE}cache/'
DIR_DOWNLOAD = f'{DIR_STORAGE}download/'
DIR_LOGS = f'{DIR_STORAGE}logs/'
DIR_MODIFICATION = f'{DIR_STORAGE}modification/'
DIR_SESSION = f'{DIR_STORAGE}session/'
DIR_UPLOAD = f'{DIR_STORAGE}upload/'

# DB
DB_DRIVER = 'mysqli'
DB_HOSTNAME = 'mysql.preprod.svc.cluster.local'
DB_USERNAME = '<connect_with_service_owner_for_secret>'
DB_PASSWORD = '<connect_with_service_owner_for_secret>'
DB_DATABASE = 'opencart'
DB_PORT = '<connect_with_service_owner_for_secret>'
DB_PREFIX = 'oc_'

# OpenCart API
OPENCART_SERVER = 'https://www.opencart.com/'